@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: linear-gradient(
    74.71deg,
    #feddee 0%,
    #fcf6fc 31.77%,
    #c5eaed 64.58%,
    #fdddfe 100%
  );
}

.footer-gradient {
  background: linear-gradient(95.74deg, #0076ce -7.82%, #9400d3 143.96%);
}

.rate {
  background: linear-gradient(95.64deg, #0076ce 0%, #9400d3 100%);
}
